# See: https://greene-lab.gitbook.io/lab-website-template-docs/basics/configure-your-site

# site properties and page defaults
title: System Optimization Lab
subtitle: East China Normal University
description: SOLE (System Optimization Lab @ East China Normal University) · 华东师范大学系统优化实验室 # 在搜索引擎中会出现的描述信息，应当更改为实验室的一句话简介
show-title: false
show-subtitle: false  # 由于logo已经有了名称了，这里就不显示了
header: images/background.jpg
footer: images/background.jpg
proofer: false


# site social media and other links
# 出现在页面底端的相关链接，具体支持的种类和格式，参照 /_data/types.yaml
links:
  email: solecnu@gmail.com
  github: solecnugit

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_courses
  - scope:
      type: "courses"
    values:
      layout: course
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
    sort_by: grade    # 按这个字段排序，见 https://jekyllrb.com/docs/collections/#custom-sorting-of-documents
  # generate page for each post
  posts:
    output: true
  courses:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts
  - dev

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
