---
---

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}

.figure-image {
  display: contents;
}

.figure-image img {
  border-radius: var(--rounded);
  overflow: hidden;
  // box-shadow: var(--shadow); # Hide the shadow
}

.figure-caption {
  // font-style: italic; 中文的斜体有些难看，这里取消这一属性
  text-align: center;
}
